.order-registration {
  display: flex;
  border-top: 3px solid @grey-stroke;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}
.order-registration__contacts {
  border: none;
  width: 100%;
  margin-bottom: 30px;
  @media (min-width: @tablet-width) {
    width: 51%;
    margin-bottom: 0;
  }
}
.order-registration__orders {
  width: 100%;
  @media (min-width: @tablet-width) {
    width: 41%;
  }
}

