body {
  font-family: 'Nunito Sans', sans-serif;
  color: #382f2d;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
@import "variables.less";
@import "button.less";
@import "page-main.less";
@import "catalog.less";
@import "filter.less";
@import "products-list.less";
@import "product-card.less";
@import "pagination.less";
@import "product.less";
@import "breadcrumbs.less";
@import "energy-content.less";
@import "add-basket.less";
@import "custom-number.less";
@import "product-features.less";
@import "product-images.less";
@import "slider-preview.less";
@import "description.less";
@import "tabs.less";
@import "similar.less";
@import "documents.less";
